[Unit]
Description=Run SOFT CAT Tool of the Week every Sunday at 10:00

[Timer]
OnCalendar=Sun 10:00
Persistent=true

[Install]
WantedBy=timers.target
